@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  color: #fafafa;
}

body,
html {
  height: 100%;
}

/* ------------------ Nav Bar ------------------ */
body {
  margin: 0;
}

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  opacity: 80%;
  text-align: center;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: #c24e01;
  font-weight: bold;
}

/* ------------------ Body Section ------------------ */

/* ------------------------------------  Main Page ------------------------------------ */

.mainpage .heading {
  padding-top: 100px;
  margin-bottom: 60px;
}

.mainpage.heading h1 {
  font-weight: 700;
}

.hr1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  width: 70%;
}

.mainpage.subheading {
  color: #fafafa;
  font-size: 1.4rem;
  margin: 60px 0;
  font-weight: 200;
}

.hr2 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  width: 50%;
}

.bg.mainpage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/maarten-van-den-heuvel-ky1w7eac5EM-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: auto;
  min-height: 100vh;
  display: block;
}

.btn {
  border: 1px solid #000000;
  padding: 0.3rem 1.75rem;
  border-radius: 0.75rem;
  font-size: 1.4rem;
}

.wordCarousel {
  font-size: 36px;
  color: #939393;
  margin-top: 40px;
}

.divCarousel {
  overflow: hidden;
  height: 65px;
}
.divCarousel li {
  color: #ccc;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.flip4 {
  animation: flip4 20s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  padding: 0;
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.bullet-points {
  text-align: left;
  line-height: 2rem;
  color: #fafafa;
  padding: 10px 0px 10px 40px;
  border: solid 3px #f2f2f2;
  -webkit-box-shadow: 0px 0px 6px 0px #c24e01;
  -moz-box-shadow: 0px 0px 6px 0px #c24e01;
  box-shadow: 0px 0px 6px 0px #c24e01;
}

.wrap-bullet-points {
  width: 270px;
  padding-top: 30px;
  margin: auto;
}

#start-here {
  padding-top: 40px;
  padding-bottom: 120px;
}

.start-here-btn {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  line-height: 3rem;
  font-size: 20px;
}

.start-here-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.start-here-btn:active {
  color: #ddd !important;
}

.start-here-btn:active:after {
  background: transparent;
}

.start-here-btn:hover {
  color: #c24e01;
  text-decoration: none;
}

.start-here-btn:hover:before {
  opacity: 1;
}

.start-here-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* ------------------------------------ Get Started ------------------------------------  */

.bg.getstarted {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/josh-gordon-fzHmP6z8OQ4-unsplash.jpg");
  height: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.getstarted.heading {
  padding-top: 100px;
  padding-bottom: 50px;
  font-weight: 700;
}

.getstarted.subheading {
  color: #fafafa;
  font-size: 1.3rem;
  padding-top: 0;
  margin: 60px 0;
  font-weight: 200;
}

.getstarted-input-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

#inputName {
  width: 300px;
  height: 50px;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 6px;
  border: solid 1px black;
}

#inputName:focus {
  border-width: 2px;
  border-radius: 5px;
}

#threedropdowns {
  margin: 30px auto;
}

.getstarted-options {
  border: solid 1px #000;
  opacity: 0.9;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 200px;
  background-color: #333;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px 5px;
  color: #fff;
}

.getstarted-options:hover {
  color: #c24e01;
  background-color: #ddd;
}

#btnLetsGo {
  margin-top: 70px;
  margin-bottom: 100px;
}

.lets-go-btn {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  line-height: 3rem;
  font-size: 20px;
}

.lets-go-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.lets-go-btn:active {
  color: #ddd !important;
}

.lets-go-btn:active:after {
  background: transparent;
}

.lets-go-btn:hover {
  color: #c24e01;
  text-decoration: none;
}

.lets-go-btn:hover:before {
  opacity: 1;
}

.lets-go-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

button:focus {
  outline: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* ------------------------------------ Keep Track ------------------------------------ */

.keeptrack.heading {
  padding-top: 100px;
  padding-bottom: 50px;
}

.keeptrack.subheading {
  color: #fafafa;
  font-size: 1.3rem;
  padding-top: 0;
  margin: 40px 0 30px;
  font-weight: 200;
}

.keeptrack.subheading p {
  margin-bottom: 7px;
}

.keeptrack.subheading small {
  font-size: 0.8rem;
}

#lsGetStartedFormOutput {
  display: block;
  color: #0b4b24;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.bg.keeptrack {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/elijah-o-donnell-vP7gLpFYyq4-unsplash.jpg");
  height: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.horizontal-line {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}

/* -- Table -- */

#lsOutputTableHeader {
  font-size: 1rem;
}

#table-center {
  margin: 0 auto 30px;
  text-align: center;
}

.table-bg {
  background-image: linear-gradient(to right, #fafafa, #fafafa);
  opacity: 0.6;
}

table {
  border-collapse: separate;
  color: #000;
}

th {
  min-width: 80px;
}

th:first-child {
  min-width: 50px;
}

thead tr {
  background-color: transparent !important;
  opacity: 1 !important;
  color: #000 !important;
}

.rowspan {
  font-weight: bold;
}

tr:nth-child(even) {
  font-size: 0.8rem;
  background-color: #dfcdc1;
  opacity: 1;
}

tr:nth-child(odd) {
  font-size: 1rem;
}

td {
  padding: 0;
}

/* Modal PopUp & buttons */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 20%;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #333;
  border: solid 1px white;
  margin: auto;
  padding: 7px;
  width: 280px;
  height: 315px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px #c24e01;
  -moz-box-shadow: 0px 0px 8px #c24e01;
  box-shadow: 0px 0px 8px #c24e01;
  opacity: 0.9;
}

.modal-content button {
  margin: 15px auto;
  width: 120px;
  color: #fafafa;
}

#greenOK {
  width: 220px;
  height: 50px;
  margin: 30px auto 20px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  line-height: 3rem;
  font-size: 20px;
}

#greenOK:hover {
  color: #c24e01;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: rgb(41, 95, 45);
}

#greenOK:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#greenOK:active {
  color: #ddd !important;
}

#greenOK:active:after {
  background: transparent;
}

#greenOK:hover:before {
  opacity: 1;
}

#greenOK:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(41, 95, 45);
  left: 0;
  top: 0;
  border-radius: 10px;
}

#yellowOK {
  background-color: #ffdc00;
  transition: all 0.4s ease-in-out;
  color: #000;
  width: 150px;
  padding: 6px 0;
  border-radius: 8px;
  border: solid 1px #333;
}

#yellowOK:hover {
  border: solid 1px #333;
  transform: scale(1.2);
  border-radius: 10px;
  color: #c24e01;
  font-weight: bold;
  font-size: 1rem;
  -webkit-box-shadow: 0px 0px 10px #c24e01;
  -moz-box-shadow: 0px 0px 10px #c24e01;
  box-shadow: 0px 0px 10px #c24e01;
}

#yellowOK:active {
  color: #c24e01;
  background-color: #333;
  border: solid 1px #fafafa;
  transition: none;
}

#redOK {
  background-color: #9b2335;
  color: #fafafa;
  border-radius: 5px;
  border: solid 1px #333;
  transition: all 0.3s ease-in-out;
}

#redOK:hover {
  transform: scale(0.8);
}

#redOK:after {
  content: "Skipped";
}

#redOK:hover:after {
  content: "Ouch";
}

#redOK:active {
  color: #c24e01;
  background: #333;
  border: solid 1px #fafafa;
  transition: none;
}

#clear-color {
  border: solid 1px #333;
  color: #333;
  border-radius: 5px;
  background-color: #fafafa;
}

#clear-color:hover {
  color: #c24e01;
  font-weight: bold;
}

#clear-color:active {
  background-color: #333;
  border: solid 1px #fafafa;
}

#btns-print-startover {
  margin: 40px auto 40px;
  color: #fafafa;
}

.keeptrack-btns:hover {
  color: #c24e01 !important;
  background-color: #ddd;
}

.keeptrack-btns {
  width: 220px;
  height: 50px;
  margin: 10px auto 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  line-height: 3rem;
  font-size: 20px;
}

.keeptrack-btns:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.keeptrack-btns:active {
  color: #ddd !important;
}

.keeptrack-btns:active:after {
  background: transparent;
}

.keeptrack-btns:hover {
  color: #c24e01;
  text-decoration: none;
}

.keeptrack-btns:hover:before {
  opacity: 1;
}

.keeptrack-btns:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

:focus {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#share-some {
  padding-bottom: 100px;
}

#share-some-text {
  color: #fafafa;
  padding-bottom: 15px;
  font-size: 1.7rem;
  font-weight: 200;
}

.fab {
  font-size: 3rem;
  color: #04125c;
}

.fab:hover {
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px -4px 7px #c24e01;
  -moz-box-shadow: 0px -4px 7px #c24e01;
  box-shadow: 0px -4px 7px #c24e01;
  background-color: #c24e01;
}

/* ------------------------------------ Footer ------------------------------------ */
.footer {
  background-color: #333;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: block;
  opacity: 80%;
  height: 50px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  color: #fafafa;
  padding: 15px 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}

footer ul li {
  float: left;
  padding: 0 10px;
}

#footer-dot {
  font-size: 1.6rem;
  line-height: 0.8;
}

footer span {
  color: #c24e01;
}

/* ------------------------------------ Media Queries ------------------------------------ */

@media (min-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 645px) {
  #table {
    border-collapse: collapse;
    width: 100%;
  }

  tr:nth-child(even) {
    font-size: 0.6rem;
  }

  tr:nth-child(odd) {
    font-size: 0.7rem;
  }

  th {
    min-width: 50px;
  }

  th:first-child {
    min-width: 40px;
  }
}

@media screen and (max-width: 552px) {
  #table {
    border-collapse: collapse;
    width: 100%;
  }

  tr:nth-child(even) {
    font-size: 0.6rem;
  }

  tr:nth-child(odd) {
    font-size: 0.7rem;
  }

  th {
    min-width: 0px;
  }

  th:first-child {
    min-width: 0px;
  }

  .divCarousel {
    height: 85px;
  }
}

@media screen and (max-width: 480px) {
  footer ul {
    padding: 5px 0;
  }
  
  #footer-dot {
      line-height: 1.5;
  }
}

@media screen and (max-width: 380px) {
  #table {
    border-collapse: collapse;
    width: 100%;
  }

  tr:nth-child(even) {
    font-size: 0.3rem;
  }

  tr:nth-child(odd) {
    font-size: 0.4rem;
  }

  th {
    min-width: 35px;
  }

  th:first-child {
    min-width: 30px;
  }
}

/* ------------------------- The End ------------------------- */
