@import url(
  https://fonts.googleapis.com/css?family=Source + Sans + Pro:400,
  900
);

body {
  font-family: "Source Sans Pro", sans-serif;
}

body,
html {
  height: 100%;
}

/* Styling of Fonts Colors Sizes*/

.mainpage.heading,
.getstarted.heading,
.keeptrack.heading {
  color: #fafafa;
}

/* --- Nav Bar ---*/
body {
  margin: 0;
  background-color: #f1f1f1;
}

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  opacity: 80%;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* --- Body Section  --- */

/* Main Page */

.mainpage.heading {
  height: 33vh;
  padding-top: 100px;
  font-size: 3rem;
  margin-bottom: 70px;
}

.mainpage.subheading {
  color: #fafafa;
  font-size: 1.2rem;
  padding-top: 25px;
}

.bg.mainpage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/maarten-van-den-heuvel-ky1w7eac5EM-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: auto;
  min-height: 100vh;
  display: block;
}

.btn {
  border: 1px solid #000000;
  padding: 0.3rem 1.75rem;
  border-radius: 0.75rem;
  font-size: 1.4rem;
}

.bullet-points {
  text-align: left;
  line-height: 2rem;
  color: #fafafa;
  padding-left: 60px;
}

.wrap-bullet-points {
  width: 270px;
  padding-top: 50px;
  margin: auto;
}

#start-here {
  padding-top: 40px;
  padding-bottom: 150px;
}

/* Get Started */

.bg.getstarted {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/josh-gordon-fzHmP6z8OQ4-unsplash.jpg");
  height: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.getstarted.heading {
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 2.5rem;
}

.getstarted.subheading {
  color: #fafafa;
  font-size: 1.2rem;
  padding-top: 0;
  padding-bottom: 20px;
}



.getstarted-input-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

#name {
  width: 300px;
  text-align: center;
  margin-bottom: 40px;
}

#distance,
#difficulty,
#duration {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 200px;
  background-color: rgb(41, 35, 35);
  border-radius: 14px;
}


#lets-go {
  margin-top: 80px;
  margin-bottom: 100px;
}

/* Keep Track */

.keeptrack.heading {
  padding-top: 80px;
  font-size: 2.5rem;
}

.keeptrack.subheading {
  color: #fafafa;
  font-size: 1.2rem;
  padding: 5px 10px;
}

.bg.keeptrack {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/elijah-o-donnell-vP7gLpFYyq4-unsplash.jpg");
  height: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.horizontal-line {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}

#share-some {
    padding-bottom: 100px;
}

#share-some-text {
  color: #fafafa;
  padding-bottom: 15px;
}

#facebook-logo {
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  max-width: 160px;
}

#print-pdf,
#start-over {
  color: #fafafa;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 200px;
}

/* Table */
#table-center {
  margin: auto;
  text-align: center;
}

.table-bg-print {
  background-image: linear-gradient(to right, #fafafa, #fafafa);
  opacity: 0.6;
}

.table-bg {
  background-image: linear-gradient(to right, #fafafa, #fafafa);
  opacity: 0.4;
}

table {
  border-collapse: separate;
}

td:not(.rowspan):hover {
  background-color: yellowgreen !important;
}

th {
  width: 80px;
}

th:first-child {
  width: 50px;
}

.rowspan {
  font-weight: bold;
}

tr:nth-child(even){
    font-size: 0.6rem;
}

tr:nth-child(odd){
    font-size: 0.8rem;
}

/* Modal PopUp & buttons */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 7px;
  border: 1px solid #888;
  width: 180px;
}

#greenOK {
  background-color: #008000;
  border-radius: 6px;
  border: solid 2px black;
  padding: 3px 0;
  margin: 3px 0;
}

#yellowOK {
  background-color: #ffff00;
  border-radius: 6px;
  border: solid 2px black;
  margin: 3px 0;
}

#redOK {
  background-color: #ff0000;
  border-radius: 6px;
  border: solid 2px black;
  padding: 3px 0;
  margin: 3px 0;
}

#clear-color {
  background-color: #fafafa;
  border-radius: 6px;
  border: solid 2px black;
  padding: 3px 0;
  margin: 3px 0;
}

/* Footer */
.footer {
  background-color: #333;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: block;
  opacity: 80%;
  height: 50px;
}

/* Media Queries */

@media screen and (max-width: 552px) {

#table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even){
    font-size: 0.5rem;
}

tr:nth-child(odd){
    font-size: 0.6rem;
}

}
